html{
    height: 100%;
}

body {
    height: 100%;
}

/* not demo specific code*/
.jscad {
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875em;
}

#react-container {
    height: 100%;
    overflow: hidden;
}

.full-height {
    height: 100%;
}

.full-height-minus-navbar {
    height: calc(100% - 59px) !important;
}

.scrollable {
    max-height: 100%;
    overflow: scroll;
}

.dropdown-menu {
    min-width: 0 !important;
}
